<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SimpleClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <userSettings>
    <SimpleClient.Properties.Settings>
      <setting name="Socket_Interval" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="Socket_Encode" serializeAs="String">
        <value>TIS-620</value>
      </setting>
      <setting name="Socket_Timeout" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="RefreshRate" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="Listen_Length" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="Socket_Server" serializeAs="String">
        <value>172.30.96.27</value>
      </setting>
      <setting name="Socket_Port" serializeAs="String">
        <value>31337</value>
      </setting>
    </SimpleClient.Properties.Settings>
  </userSettings>
</configuration>